<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="add_circle" method="get">
    <input type="submit" value="ADD CICRCLE"/>
  </form>
  </br>
  <form action="add_neigh" method="get">
    <input type="submit" value="ADD NEIGHBOUR"/>
  </form>
  </br>
  <form action="add_hospital" method="get">
    <input type="submit" value="ADD HOSPITAL"/>
  </form>
  </br>
  <form action="add_station" method="get">
    <input type="submit" value="ADD HOSPITAL STANDS"/>
  </form>
</br>
<form action="get_path" method="get">
  <input type="submit" value="GET PATH"/>
</form>
  </body>
</html>
